<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolaidai.year500">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <!--我的藏馆-->
        <activity
            android:name=".activities.MineActivity"
            android:screenOrientation="portrait" />

        <!--启动界面-->
        <activity android:name=".activities.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--登录界面-->
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!--注册界面-->
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <!--找回密码界面-->
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
