<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolaidai.year500">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5642ea7667e58eb26b0010e6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--我的藏馆-->
        <activity
            android:name=".activities.MineActivity"
            android:screenOrientation="portrait" />

        <!--启动界面-->
        <activity
            android:name=".activities.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--欢迎界面-->
        <activity
            android:name=".activities.WelcomeActivity"
            android:screenOrientation="portrait" />
        <!--登录界面-->
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!--注册界面-->
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <!--找回密码界面-->
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <!--物品详情界面-->
        <activity
            android:name=".activities.CollectionDetailActivity"
            android:screenOrientation="portrait" />
        <!--修改物品基础信息-->
        <activity
            android:name=".activities.ModifyBaseInfoActivity"
            android:screenOrientation="portrait" />
        <!--修改物品记录-->
        <activity
            android:name=".activities.ModifyRecordActivity"
            android:screenOrientation="portrait" />
        <!--修改物品故事-->
        <activity
            android:name=".activities.ModifyStoryActivity"
            android:screenOrientation="portrait" />
        <!--照片详细-->
        <activity
            android:name=".activities.ImageDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
